body, html {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  font-size: 13px;
  user-select: none;
}

body.mobile .desktop,
body.desktop .mobile,
body:not(.debug) .debug,
body:not(.disabledHomeTimeline) .disabledHomeTimeline,
body:not(.fullWidthContent) .fullWidthContent,
body:not(.hidingMetrics) .hidingMetrics,
body:not(.hidingSidebarContent) .hidingSidebarContent,
body:not(.home) .home,
body:not(.mutedQuotes) .mutedQuotes,
body:not(.uninvertedFollowButtons) .uninvertedFollowButtons,
body:not(.mobile.safari) .toggle {
  display: none;
}

#showDebugOptions.clickable {
  cursor: pointer;
  user-select: none;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4px 12px;
  margin: 8px 0;
  cursor: pointer;
}

section.button {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  margin: 8px 0;
  align-items: flex-start;
}

section.button:not(:first-of-type) {
  padding-top: 12px;
}

section.button input {
  margin-left: 12px;
}

summary {
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

input[type=checkbox],
select {
  cursor: pointer;
}

input[type=checkbox] {
  margin-left: 12px;
  flex: 0;
}

section.group > label:not(.checkbox) {
  cursor: default;
}

section:not(:first-of-type) {
  border-top: 1px solid #f0f0f0;
}

section.group > section {
  margin-left: 40px;
}

section.group > label {
  margin-bottom: 12px;
}

section.group > section > * {
  color: rgb(95, 99, 104);
  padding-left: 0;
}

section.group > section > p {
  margin: 0 60px 12px 0;
  font-size: 12px;
}

/* Firefox overrides */
@-moz-document url-prefix() {
  body {
    font-family: inherit;
    font-size: 15px;
  }
  section:not(:first-of-type) {
    border-color: #d7d7db;
  }
  section.group > section > * {
    color: rgb(91, 91, 102);
  }
  section.group > section > p {
    font-size: 14px;
  }
}

/* Edge overrides */
body.edge {
  font-family: "system-ui", sans-serif;
  font-size: 14px;
}
body.edge section:not(:first-of-type) {
  border-color: #B6B6B6;
}
body.edge section.group > label {
  font-weight: 600;
}
body.edge section.group > section > * {
  color: #767676;
}

/* Safari overrides (desktop) */
body.desktop.safari label {
  flex-direction: row-reverse;
  justify-content: start;
  padding-top: 2px;
  padding-bottom: 2px;
}
body.desktop.safari input[type=checkbox] {
  margin-left: 0;
  margin-right: 12px;
}
body.desktop.safari section.select label {
  flex-direction: row;
  justify-content: space-between;
}
body.desktop.safari section:not(.group):not(:first-of-type) {
  border-top: none;
}
body.desktop.safari section.select label {
  display: block;
}
body.desktop.safari section.select span::after {
  content: ": ";
  display: inline-block
}
body.desktop.safari section.checkbox > p {
  margin-left: 2rem;
}
body.desktop.safari section.group > label {
  margin-bottom: 0;
}

/* Safari overrides (mobile) */
body.mobile.safari .checkbox input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
body.mobile.safari .checkbox .toggle {
  position: relative;
  display: inline-block;
  min-width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
body.mobile.safari .checkbox .toggle::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
body.mobile.safari .checkbox .toggle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
body.mobile.safari .checkbox label:active .toggle::after,
body.mobile.safari label.checkbox:active .toggle:after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
body.mobile.safari .checkbox label:active input:checked + .toggle::after,
body.mobile.safari label.checkbox:active input:checked + .toggle::after {
  transform: translate3d(16px, 2px, 0);
}
body.mobile.safari input:checked + .toggle {
  background-color: #4BD763;
}
body.mobile.safari input:checked + .toggle::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
body.mobile.safari input:checked + .toggle::after {
  transform: translate3d(22px, 2px, 0);
}
body.mobile.safari .checkbox input:focus + .toggle {
 outline: 5px auto Highlight;
 outline: 5px auto -webkit-focus-ring-color;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #292a2d;
    color: #e8eaed;
  }
  section:not(:first-of-type) {
    border-color: #3f4042;
  }
  section.group > section > * {
    color: rgb(154, 160, 166);
  }

  /* Edge dark mode overrides */
  body.edge {
    background-color: #3B3B3B;
    color: #A7A7A7;
  }
  body.edge section.group > label {
    color: #fff;
  }
  body.edge section:not(:first-of-type) {
    border-color: #737373;
  }
  body.edge section.group > section > * {
    color: #A7A7A7;
  }

  /* Firefox dark mode overrides */
  @-moz-document url-prefix() {
    body {
      background-color: #23222b;
    }
    section:not(:first-of-type) {
      border-color: #4e4d54;
    }
    section.group > section > * {
      color: rgb(191, 191, 201);
    }
  }

  /* Safari dark mode overrides */
  body.safari {
    background-color: rgb(28, 28, 28);
    color: rgb(233, 233, 233);
  }
  body.safari section.group > section > * {
    color: rgb(233, 233, 233);
  }
  body.mobile.safari .checkbox .toggle {
    background-color: rgb(58, 58, 58);
  }
  body.mobile.safari .checkbox .toggle::before {
    background-color: rgb(58, 58, 58);
  }
}